body {
    margin: 30px;
    background-color: rgb(58, 53, 53);
}

.jumbotron {
    text-align: center;
    background-color: orange;
    color:black;
}

#gifs {
    text-align: center;
}

.button-gif {
    width: 145px;
    margin-right:15px;
    margin-bottom:5px;
    background-color:rgb(99, 127, 219);
    
}